main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 2rem;
}

#pairsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

button {
    border: none;
    padding: 10px 25px;
    background-color: #eee;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
}
